@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');


body{
    font-family: 'Libre Bodoni', serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: black;

}

h1{
    font-family: 'Libre Bodoni', serif;
    font-size: 3em;
}

h2{
    font-family: 'Libre Bodoni', serif;
    font-size: 2em;
    
}